@use "variables" as *;
@use "functions" as *;

@mixin text-format-s {
        font-size: 18px;
        padding-left: 0.5rem;
        max-width: 50ch;
        letter-spacing: 1px;
}

@mixin ul-format-s {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin link-styling {
    text-decoration: none;
    color: light-dark(#000000, #FFFFFF);
    &:hover {
        text-decoration: underline;
    }
}

@mixin light-dark-theme {
    color: light-dark(#000000, #FFFFFF);
    background-color: light-dark(#e3e3e3, #121212);
}