$base-color: #e3e3e3;
$base-color-dark: #121212;

$button-color: rgb(51, 86, 136);

$link-disabled: true;

$header-color: linear-gradient(147deg, rgba(250, 176, 73, 0.6) 47%, rgba(51, 86, 136, 0.6) 52%)