@use "../code/variables" as *;
@use "../code/mixins" as *;

:root {
    color-scheme: light dark;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    @include light-dark-theme;
    width: 100%;
}

@media (max-width: 768px) {
    #mainIndex {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1, h2 {
            text-align: center;
        }
    }

    #images {
        width: 75%;
        border-radius: 10px;
        @include section-styling;
        padding: 0 10px 10px 10px;


        img {
            width: 100%;
        }

        p {
            @include text-format-s;
        }
    }

    #mainSASS {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1, h2 {
            text-align: center;
        }
        article {
           @include section-styling;
           border-radius: 15px;
           width: 75%;
           padding: 0 10px 10px 10px;
        }
        p {
            margin-left: 1rem;
            @include text-format-s;
        }
    }
}

@media (min-width:768px) and (max-width: 1200px) {
    #mainIndex {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1, h2 {
            text-align: center;
        }
    }

    #images {
        width: 75%;
        border-radius: 10px;
        color: light-dark(#000000, #FFFFFF);
        background-color: light-dark(#CACACA, #2C2C2C);
        padding: 0 10px 10px 10px;


        img {
            width: 100%;
        }

        p {
            @include text-format-m;
        }
    }

    #mainSASS {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1, h2 {
            text-align: center;
        }
        article {
           @include section-styling;
           border-radius: 15px;
           width: 75%;
           padding: 0 10px 10px 10px;
        }
        p {
            @include text-format-m;
        }
    }
}

@media (min-width: 1200px) {
    #mainIndex {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1, h2 {
            text-align: center;
        }
    }

    #images {
        width: 75%;
        border-radius: 10px;
        color: light-dark(#000000, #FFFFFF);
        background-color: light-dark(#CACACA, #2C2C2C);
        padding: 0 10px 10px 10px;


        img {
            width: 100%;
        }

        p {
            @include text-format-l;
        }
    }

    #mainSASS {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1, h2 {
            text-align: center;
        }
        article {
           @include section-styling;
           border-radius: 15px;
           width: 75%;
           padding: 0 10px 10px 10px;
        }
        p {
            @include text-format-l;
        }
    }
}