@use "../code/variables" as *;
@use "../code/mixins" as *;

:root {
    color-scheme: light dark;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    @include light-dark-theme;
    width: 100%;
}

@media (max-width: 768px) {
    #mainContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            text-align: center;
        }
    }

    #images {
        width: 75%;
        border-radius: 10px;
        color: light-dark(#000000, #FFFFFF);
        background-color: light-dark(#CACACA, #2C2C2C);
        display: flex;
        flex-direction: column;
        padding: 0 10px 0 10px;

        img {
            width: 100%;
        }

        p {
            @include text-format-s;
        }
    }

}