@use "../code/variables" as *;
@use "../code/mixins" as *;

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    ul {
        @include ul-format-s
    }

    a {
        font-size: 20px;
        @include link-styling;
    }
}