@use "../code/variables" as *;
@use "../code/mixins" as *;

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    ul {
        @include ul-format-s
    }

    a {
        border-radius: 5px;
        padding: 5px;
        background-color: light-dark(lighten($button-color, 30%), darken($button-color, 10%));
        font-size: 20px;
        @include link-styling;
    }
}