@use "../code/variables" as *;
@use "../code/functions" as *;
@use "../code/mixins" as *;


#nav {
    ul {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
        justify-items: center;
        @include ul-format-s;
        padding: 1rem 0 1rem 0;
    }

    a {
        font-size: 1.3rem;
        @include link-styling;
        color: light-dark(#000000, #FFFFFF)
    }
}